<%- include('../partials/boilerplate/upper.partials.ejs'); -%>
<link rel="stylesheet" href="css/register/register.styles.css">
<div class="register-container">
    <main>
        <h1>Create Account</h1>
        <form action="/register" method="post">
            <div>
                <label for="">Your Name</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Mobile Number</label>
                <input type="number" name="" id="">
            </div>
        </form>
    </main>
</div>
<%- include('../partials/boilerplate/lower.partials.ejs'); -%>