.nav-bar-wrapper{
    margin: 0;
    background: var(--nav-color); 
    padding: 7px 0px 5px 10px; 
    display: flex; 
}

.nav-bar-item{
    list-style-type: none;
    margin-left: 5px;
}

.amazon-logo{
    display: flex;
    align-items: flex-start;
    padding: 10px 5px;
}
.amazon-logo:hover{
    outline: 1px solid #fff;
}

.amazon-logo-sprite{
    width: 100px;
    height: auto;
    margin-right: 4px;
}

.suffix{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
}

.location-selector{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.location-selector:hover{
    outline: 1px solid #fff;
}

.map-pin{
    margin-top: 10px;
    width: 20px;
    height: 18px;
}

.location-details{
    line-height: 0.8;
    margin-left: 2px;
}

.address-indicator{
    color: rgba(255,255,255,0.8);
    margin: 0;
    font-size: 14px;
}

.address-text{
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.expanding-search{
    flex: 1;
}

.nav-search{
    margin: 0 10px 2px;
    border-radius: 4px;
}

.search-form{
    display: flex;
    align-items: center;
}

.active-nav{
    box-shadow: 0 0 0 2px #F90,0 0 0 3px rgba(255,153,0,.5);
    -webkit-box-shadow: 0 0 0 2px #F90,0 0 0 3px rgba(255,153,0,.5);
    -moz-box-shadow: 0 0 0 2px #F90,0 0 0 3px rgba(255,153,0,.5);
    z-index: 1;
}

.selection-box{
    position: relative;
    height: 35px;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    align-items: center;
    padding: 1px 4px;
    /* min-width: 40px; */
    background: rgb(243,243,243);
}

.show-selection{
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selection-text{
    white-space: nowrap;
    color: #555;
    font-size: 14px;
}

.arrow-image{
    width: 12px;
    margin: 0 3px 5px;
    height: 12px;
}

.search-options{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.search-box-wrapper{
    display: flex;
    flex: 1;
    position: relative;
}

.nav-search-box{
    width: 100%;
    background: #fff;
}

.nav-search-field{
    border: none;
    width: 100%;
    -webkit-appearance: none;
    box-shadow: none;
    height: 39px;
    font-size: 16px;
    outline: 0;
    box-sizing: border-box;
    background: 0 0;
    float: none;
    line-height: 15px;
    padding: 7px 10px 10px 5px;
}

.search-button-div{
    display: flex;
    height: 39px;
    width: 45px;
    border-radius: 0 4px 4px 0;
    background: rgb(254,189,105); 
}
.search-button{
    background: url('../../images/magnifying-glass-solid.svg') center no-repeat;
    height: 100%;
    width: 100%;
}


.submit-search{
    width: 100%;
    height: 100%;
    padding: 0;
    text-indent: -1000px;
    background: none;
    border: 0;
    cursor: pointer;
}


.suggestion-box-warapper{
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
}

.suggestion-box{
    border: 1px solid;
    border: 1px solid #bbb;
    /* display: block; */
    background: #fff;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: column;
}


.suggested-item{
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.suggested-item:hover{
    background-color: #eee;
}

.selected-suggestion-item{
    background-color: #eee;
}

.suggestion-text{
    white-space: nowrap;
    overflow: hidden;
}

.bold-suggestion{
    font-weight: 700;
}
