:root{
    --nav-color: rgb(19,25,33)
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* @font-face {
    font-family: "amazon-font";
    src: url("../fonts/OfficinaSansStd-Bold.otf");
} */