<%- include('../../partials/boilerplate/upper.partials.ejs'); -%>
<div>
    <main>
        <h1>Sign in</h1>
        <form action="/signin/verifyPassword" method="post">
            <div>
                <label for=""><%= signInId %> change</label>
                <input type="hidden" name="user[id]" value="<%=user._id %>" id="" />
            </div>
            <div>
                <label for="">password</label>
                <input type="text" name="user[password]" id="" />
              </div>
              <button type="submit">Sign In</button>
              <p>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
        </form>
    </main>
</div>
<%- include('../../partials/boilerplate/lower.partials.ejs'); -%>