<link rel="stylesheet" href="css/navbar/navbar.styles.css">

<nav class="nav-bar">
    <ul class="nav-bar-wrapper">
        <li class="nav-bar-item">
            <a href="/">
                <div class="amazon-logo">
                    <img class="amazon-logo-sprite" src="images/amazon-logo.png" alt="amazon-logo">
                    <span class="suffix">.in</span>
                </div>
            </a>
        </li>
        <li class="nav-bar-item">
            <div class="location-selector">
                <img class="map-pin" src="images/map-pin.svg" alt="map-pin">
                <div class="location-details">
                    <p class="address-indicator">Hello</p>
                    <p class="address-text">Select your address</p>
                </div>
            </div>
        </li>
        <li class="nav-bar-item expanding-search">
            <div class="nav-search">
                <form class="search-form" action="/search" method="get" role="search" name="abc" >
                    <div class="selection-box">
                        <div class="show-selection">
                            <span class="selection-text">All</span>
                            <img class="arrow-image" src="/images/sort-down-solid.svg" alt="">
                        </div>
                        <select class="search-options" name="cat" id="">
                            <% cat.map((cat)=>{ %>
                            <option value="<%= cat.category %>" ><%= cat.category %> </option>
                            <% }) %>  
                            <!-- <option selected="selected" value="search-alias=alexa-skills"> Hello</option>
                            <option value="Hellosdsdsdsdds">Hellosdsdsdsdds</option>
                            <option value="Hello2">Hello2</option> -->
                        </select>
                    </div>
                    <div class="nav-search-box">
                        <input class="nav-search-field" type="text" name="search" id="">
                    </div>
                    <div class="search-button-div">
                        <span class="search-button">
                            <input class="submit-search" type="submit" value="go">
                        </span>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</nav>


<script type="module" src="/js/navbar/navbar.module.js"></script>