<link rel="stylesheet" href="css/navbar/navbar.styles.css">

<nav class="nav-bar">
    <ul class="nav-bar-wrapper">
        <li class="nav-bar-item">
            <a href="/">
                <div class="amazon-logo">
                    <img class="amazon-logo-sprite" src="images/amazon-logo.png" alt="amazon-logo">
                    <span class="suffix">.in</span>
                </div>
            </a>
        </li>
        <li class="nav-bar-item">
            <div class="location-selector">
                <img class="map-pin" src="images/map-pin.svg" alt="map-pin">
                <div class="location-details">
                    <p class="address-indicator">Hello</p>
                    <p class="address-text">Select your address</p>
                </div>
            </div>
        </li>
    </ul>
</nav>