<%- include('../partials/boilerplate/upper.partials.ejs'); -%>
<%- include('../partials/navbar/navbar.partials.ejs'); -%>
<h1>Working!!!!</h1>
<%- include('../partials/boilerplate/lower.partials.ejs'); -%>
