<%- include('../partials/boilerplate/upper.partials.ejs') %> 
    <% searchResult.map((data)=>{ %>
        <p>
            <%= data.name %> 
        </p>
    <% }) %>  
<%- include('../partials/boilerplate/lower.partials.ejs') %> 